
<section class="py-5 container-fluid text-center text-white" style="background-image: url('https://ubi-global.com/wp-content/uploads/Photo-Tech-3.jpeg') ; background-position: center center; background-size: cover; min-height:400px";>
    <h2 style="text-shadow: black 0.1em 0.1em 0.2em">Retrouve tous les grands sujets scientifiques animés par des passionné.e.s</h2> 
    <h3 style="text-shadow: black 0.1em 0.1em 0.2em">Toi aussi, partage tes connaissances</h3> 
    <div class="d-flex flex-row justify-content-center">  
        <%=link_to "S'inscrire",new_user_registration_path, :class => "m-3 col-md-auto btn btn-light btn-lg" %>
        <a href="#all-events" class="m-3 col-md-auto btn btn-outline-light btn-lg">Je découvre le programme!</a>
    </div>
</section>

<div id="all-events" class="pt-4 text-center">
<h3 class="mt-2" >Tous les événements! </h3>
    <div class="d-flex flex-wrap justify-content-center ">
        <% @events.each_with_index.map do |event, index| %>
        <%if event.is_future?%>
            <div class="card m-4 card-container" style="width:320px;">
                <div class="card-index card-header">
                    <h4><%=link_to event.title, event_path(event.id), :style => "text-decoration:none;color:#430273;"%></h4>
                    <p>Organisateur: <%=event.admin.full_name%></p>
                </div>
                <div class="card-body align-content-between">
                    <div style="height:90px; ">
                    <p style="-webkit-mask-image: linear-gradient(0deg, transparent 16px, red 66px);"><%=event.description%></p></div>
                    <div class="text-center"><%=link_to "En savoir plus", event_path(event.id), :class => "card-link", :style => "z-index:5;"%>
                    </div>
                </div>
                <div>
                        <ul class="list-group list-group-light">
                            <li class="list-group-item px-3"><strong>Date:</strong> <%=event.start_date.to_time.strftime('%e %B %Y')%></li>
                        </ul></div>
                <div class="card-footer">
                    <%if user_signed_in? && is_attending?(event)%>
                        <%=button_to "Se désinscrire", event_attendance_path(event.id, event.get_attendance(current_user).id), method: :delete, :class => " btn btn-outline-danger" %>
                    <%else%>
                        <%=button_to "S'inscrire", event_attendance_index_path(event.id), :class => " btn btn-info" %>
                    <%end%>
                </div>
            </div>
        <% end %>
        <% end %>
    </div>

</div>