<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<h3>Tous les événements! </h3>
    <div class="flex-container">
        <% @events.each_with_index.map do |event, index| %>
            <div class="card m-4 card-container">
                <div class="card-body">
                    <p>Titre: <%=event.title%></p>
                    <p>Description: <%=event.description%></p>
                    <p>Date: <%=event.start_date%></p>
                    <p>Durée: <%=event.duration%> minutes</p>
                    <p>Prix: <%=event.price%> €</p>
                    <p>Lieu: <%=event.location%></p>
                    <p>Organisateur: <%=event.admin.first_name%></p>
                </div>
            </div>
        <% end %>
    </div>
