<div class="container">
 <div class="card m-4" style="width:600px;">
       <div class="card-header"><h4><%=@event.title%></h4></div>
                <div class="card-body">
                    <p><strong>Description: </strong><%=@event.description%></p>
                    <p><strong>Date: </strong><%=@event.start_date%></p>
                    <p><strong>Durée: </strong><%=@event.duration%> minutes</p>
                    <p><strong>Prix: </strong><%=@event.price%> €</p>
                    <p><strong>Lieu: </strong><%=@event.location%></p>
                    <hr>
                    <p>Organisateur: </strong><%=@event.admin.email%></p>
                    <hr>
                    <p>Participants:</p>
                    <ul>
                    <%if @ids%>
                    <%@ids.each do |id|%>
                        <li><%=User.find(id).full_name%></li>
                    <%end%>
                    <%else%>
                    Pas de Participant
                    <%end%>
                    </ul>
                </div>
                <div class="card-footer">
                <%=button_to "S'inscrire", event_attendance_index_path(@event.id), :class => " btn btn-info" %>
                </div>
    </div>
</div>