<div class="container">
 <div class="card m-4" style="width:600px;">
       <div class="card-header"><h4><%=@event.title%></h4></div>
                <div class="card-body">
                    <h5><strong>Sujet: </strong><%=@event.description%></h5><br>
                    <div>
                        <ul class="list-group list-group-light">
                            <li class="list-group-item px-3"><strong>Date:</strong> <%=@event.start_date.to_time.strftime('%e %B %Y')%></li>
                            <li class="list-group-item px-3"><strong>Durée:</strong> <%=@event.duration%> minutes</li>
                            <li class="list-group-item px-3"><strong>Prix:</strong> <%=@event.price%> €</li>
                            <li class="list-group-item px-3"><strong>Lieu:</strong> <%=@event.location%></li>
                        </ul></div>
                    <hr>
                    <p>Organisateur: </strong><%=@event.admin.email%></p>
                    <hr>
                    <p>Réponses:</p>
                    <ul>
                    <%if @attendees%>
                        <%if is_admin?(@event)%>
                            <%@attendees.each do |id|%>
                            <li><%=User.find(id).full_name%></li>
                            <%end%>
                        <%else%>
                            <%=@attendees.count%> Participant.e.s
                        <%end%>
                    <%else%>
                    Pas de Participant
                    <%end%>
                    </ul>
                </div>
                <div class="card-footer">
                <%=link_to "S'inscrire", new_event_charge_path(@event.id), :class => " btn btn-info" %>
                </div>
    </div>
</div>